<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.title %> – Todo detail</title>
  </head>
  <body>
    <p><a href="/">&larr; Zpět na seznam</a></p>

    <div id="todo-detail"> <%- include('_todo.detail.html') %> </div>

    <script>
      const ws = new WebSocket('ws://localhost:3000/ws')
      const todoId = Number('<%- todo.id %>')

      ws.addEventListener("open", () => {
        ws.send(JSON.stringify({page: "detail", todoId: todoId}))
      })

      ws.addEventListener("message", (ev) => {
        const { html: html, todo: todo, operation: operation } = JSON.parse(ev.data)
    
        if (operation === "update"){
          document.getElementById("todo-detail").innerHTML = html
          document.title = `${todo.title} – Todo detail`
        } else if (operation === "destructive") {
          document.getElementById("todo-detail").innerHTML = html
          document.title = `Todo deleted`
        }
      })

    </script>
  </body>
</html>
